.rw-blocks-slideshow[theme=icon] {
	.slides-area {
		overflow: hidden;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: min-content;
		white-space: nowrap;

		.slide {
			transform-origin: left;
			display: flex;
			margin: 0 0 0 1.3em;
			flex: 0 0 var(--sld-bw, 100%);
			overflow: hidden;
			will-change: auto;

			&.done {
				transition: margin-left var(--sld-da, 40s) linear;
				margin-left: var(--sld-dml, -100vw);

			}
		}
	}
}
