.rw-blocks-slideshow.inf-v {
	.slides-area {
		overflow: hidden;
		display: grid;
		grid-auto-flow: row;
		grid-auto-rows: min-content;
		white-space: nowrap;



		.slide {
			transition: opacity var(--sld-da, 10s) linear;
			transform-origin: bottom;
			display: block;
			margin-bottom: var(--sld-dmt, -100vw);
			transform: scaleY(0);
			overflow: hidden;
			opacity: 0;
			&.act {
				opacity: 1;
				transition: all calc(var(--sld-da, 10s) / 2) linear;
				margin: 0;
				transform: scaleY(1);
				transform-origin: top;
			}

			/* &.act:first-child {
				transition: all 0s linear;
				margin: 0;
			} */


			&.done {
				transform-origin: top;
				transition: all var(--sld-da, 10s) linear;
				transform: scaleY(0);
				margin: 0;
				margin-top: var(--sld-dmt, -100vw);

			}

		}

		.slide-content>p:first-child {
			margin: 0;
		}
	}
}
